body {
    display: flex;
    justify-content: center;
    background-color: #1a212b;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    height: 1px;
}

.container {    
    position: relative;  
    box-sizing: border-box;
    /*
    min-height: 100vh;
    height: 1px;
    margin: auto;
    */
    width: 450px;
    background-color:#0d1117;
    color: rgba(240, 246, 252, 0.7);
}
.main-container{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.text-header{
    text-align: center;
    font-size: 24px;
}

.menu-content {
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 16px;
    /*background-color: #161b22;*/
    background-color: black;
}
.menu-check-mode{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.menu-check-all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 12px;
}
.menu-check-mode span{
    padding-left: 12px;
}
.menu-content-left {
    cursor: default;
}

.btn-menu{
       /*background-color:#161b22!important;*/
    /*color: rgba(240, 246, 252, 0.7);*/
    border: none;
    height: 35px!important;
    width: 35px!important;
    border-radius: 50%!important;
    border: 0.5px solid #30363d!important;
}
.btn-menu:hover {
    background-color:#30363d!important;
} 
.btn-menu:focus {
    border: none;
    outline: none;
}
.btn-menu:focus-within{
    border: 0.5px solid #30363d;
 }
 .content {
     /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    /*
    height: 1px;
    min-height: 100%; 
    */
 }

.rem-store {
    border: 1px solid #30363d;
    border-radius: 6px;

}
.rem-store .li-item{
    height: 20px;
    padding: 6px;
    padding-left: 12px;
    border-bottom: 1px solid #30363d;
}
.rem-store .li-item:hover {
    background-color:#30363d;
} 
.rem-store .li-item:last-child{
    border-bottom: none;
}
.block-invisible{
    display: none!important;
}
.checkbox-item:disabled{
 border-color: initial;
 background-color: initial;
}



/*------ modal window--------*/
.m-win{
    display: flex;
    justify-content: center;

    position: absolute;
    background-color:#1a212b;
    z-index: 99;


    min-height: 100vh;
    width: 100%;
    height: 1px;
}
.m-win-body{
    display: flex;
    flex-direction: column;
    height: 100%;

    /*justify-content: space-between;
    width: 450px;
    color: rgba(240, 246, 252, 0.7);
    background-color:#0d1117; */
}
.m-win-header{
    flex: 0 0 auto;
    display: flex;
    /*flex-direction: row;
    justify-content: left;*/
    align-items: center;

    height: 70px;
    background-color: black;
    padding-left: 15px;
}
.btn {
    background-color: black;
    color: rgba(240, 246, 252, 0.7);
    font-size: 16px;
    height: 35px;
    border: 1px solid #30363d;
    border-radius: 10px;
    cursor:pointer;
}
.btn:hover{
    color: wheat;
    border: 1px solid wheat;
}
.btn:focus{      
    border: 1px solid wheat;
    outline: none;
}

.btn-header{
    min-width: 35px!important;
    /*height: 35px!important;*/
}

.m-win-content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    height: 85%;
}

.m-win-footer{
    flex: 0 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: black;
    height: 70px;
}
.btn-footer{
    min-width: 130px;
}


.input{
    background-color:#0d1117;
    color: rgba(240, 246, 252, 0.7);
    border: none;
}
.input-text-header{
    border-bottom:1px solid rgba(240, 246, 252, 0.7);
    font-size: 24px;
    /*padding-left: 15px;
    padding-right: 15px;*/
    margin-top: 15px;
    box-sizing: border-box;
    width: 100%
}
.input-text:focus{
    color: wheat;
    outline: none;
    /*border: none;*/
    border-bottom:1px solid wheat;
}
.input-view{
    cursor: default;
}
.reminder-items{
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
    justify-content: flex-start;

    padding: 5px;
    font-size: 18px;
    /*height: 100%;*/
    overflow-y: auto;
    overflow-x: hidden;
}
.reminder-item, .add-reminder-item{
    display: inline-flex;
    margin: 7px;
    width: 100%;
    
}
.img-min{
    width: 18px;
    height: 18px;
    padding-right: 5px;
}
.checkbox-item{
    margin-right: 8px;
    cursor: pointer;
}

.item-text-reminder{
    font-size: 18px;
    width: 100%;
}
.item-text-reminder:hover{
    border: none;
    outline: none;
    /*border: none;*/
    border-bottom:1px solid wheat;
   
}
.input-view-item, .input-view-item:hover, .input-view-item:focus{
    cursor: default;
    outline: none!important;
    border-bottom: none!important;
}

.input-checked{
    text-decoration-line: line-through;
    text-decoration-color: gray;
}

.input:focus{
    outline: none;
    border: none;
    border-bottom:1px solid wheat;
}
#footer-reminder-item span:hover, #head-reminder-item span:hover{
    cursor: pointer;
    color: wheat;
}